<div class="form-group">
	<div class="form-group__title"> {{ i18n_settings.user_ids }} </div>
	<div class="form-group__control">
		{% set masterCheckboxClass = null %}
		{% if users.checked > 0 %}
			{% if users.checked < users.total %}
				{% set masterCheckboxClass = 'icon-check-minus' %}
			{% else %}
				{% set masterCheckboxClass = 'icon-checkbox-checked' %}
			{% endif %}
		{% endif %}

		{{ self.render(
			{ref: '/tmpl/controls/checkboxes_dropdown.twig'},
			{
				class_name            : users_class,
				master_checkbox_class : masterCheckboxClass,
				selected              : null,
				title_numeral         : 'менеджер,менеджера,менеджеров,менеджеры',
				title_empty           : 'Выберите менеджеров',
				title                 : 'Выберите менеджеров',
				name                  : null,
				need_escape           : false,
				items                 : users.items
			}
		) }}
	</div>


	<div class="form-group__title"> {{ i18n_settings.creator_ids }} </div>
	<div class="form-group__control">
		{% set masterCheckboxClassCreators = null %}
		{% if creators.checked > 0 %}
			{% if creators.checked < creators.total %}
				{% set masterCheckboxClassCreators = 'icon-check-minus' %}
			{% else %}
				{% set masterCheckboxClassCreators = 'icon-checkbox-checked' %}
			{% endif %}
		{% endif %}

		{{ self.render(
			{ref: '/tmpl/controls/checkboxes_dropdown.twig'},
			{
				class_name            : creators_class,
				master_checkbox_class : masterCheckboxClassCreators,
				selected              : null,
				title_numeral         : 'создатель,создателя,создателей,создатели',
				title_empty           : 'Выберите создателей',
				title                 : 'Выберите создателей',
				name                  : null,
				need_escape           : false,
				items                 : creators.items
			}
		) }}
	</div>

	<div class="form-group__control">
		{% if data.distribute_previously_distributed == 1 %}
			{% set change_distribute_previously_distributed = true %}
		{% else %}
			{% set change_distribute_previously_distributed = false %}
		{% endif%}


		<div title = " {{ lang.help_distribute_previously_distributed }} "
		class="{{ self.widgetTca }}-help_btn">?</div>

		{{ self.render(
			{ref: '/tmpl/controls/checkbox.twig'},
			{
				id: distribute_previously_distributed,
				text: i18n_settings.distribute_previously_distributed,
				checked: change_distribute_previously_distributed
			}
		) }}
	</div>

</div>
